<h1>Welcome, <%=@user.username%>!</h1>
<a href='/posts/new'>New Post</a>
<br><br>

<h3>Latest Posts</h3>
----------------------------------------
<%Post.all.each do |post|%>
<br><br>
  <b><%=post.title%></b>
<br>
<i>by <a href='/<%=post.user.slug%>/posts'><%=post.user.username%></a></i>

<br>
  <p><%=post.content%></p>
<%if post.user == @user%>
  <a href='/posts/<%=post.id%>/edit'>Edit</a>  <a href='/posts/<%=post.id%>/delete'>Delete</a>
<%end%>
<br>
----------------------------------------

<%end%>